@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Furio';
$primary: #e77725;
$card-color: #292929;
$dark: #0e1f2f;
$light: #efefef;
$modal-backdrop-bg: $dark;
$modal-backdrop-opacity: 0.9;
$modal-content-color: $dark;
$modal-content-bg: $light;
$nav-tabs-link-active-bg: $light;
$nav-tabs-link-color: $light;
$nav-tabs-link-hover-bg: $light;

// Bootstrap
@import '~bootstrap/scss/bootstrap';
[v-cloak] > * { display: none; }
body {
    background-image: url("/images/background.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
}
@font-face{
    font-family:"Furio";
    src: url("../fonts/furio.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}
